html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

a{
  text-decoration: none;
  color: inherit;
}


@import url("https://fonts.googleapis.com/css2?family=Biryani&family=Exo+2&family=Orbitron&display=swap");


.skipLink {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skipLink:focus {
  left: 0;
}

html {
  font-size: 125%;
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1260px;
  width: 80%;
  margin: 0 auto;
}

/* header styling */
header{
  min-height: 100vh;
  background: url(./assets/mars-man.jpg) no-repeat center/cover;
  clip-path: ellipse(70% 60% at 50% 40%);
}

.backHeader {
  background-color: #c1440e;
}

h1{
  text-align: left;
  margin: 0;
  margin-left: 200px;
  padding-top: 150px;
  font-family: 'Orbitron', sans-serif;
  font-size: 3.7rem;
  color: whitesmoke;
  text-transform: uppercase;
  text-shadow: black 3px 3px;
  border-bottom: whitesmoke 5px dotted;
  width: fit-content;
}

.headerText{
  width: 50vw;
  text-align: center;
  margin-top: 50px;
  margin-left: 200px;
  color: white;
  letter-spacing: 1px;
  background-color: rgba(0, 0, 0, 0.384);
  padding: 15px;
  border-radius: 30%;
}

.headerText p {
  font-size: 1.2rem;
}

.headerText h2{
  font-size: 2rem;
  font-family: 'Exo 2', sans-serif;
  margin: 0 auto;
  color: white;
}

.bookButton{
  text-align: center;
  border-radius: 5px;
  text-transform: uppercase;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  color: white;
  border-radius: 30%;
  background: #c1440e;
  border: white 2px solid;
  
}

.bookButton:hover{
  box-shadow: 1px 1px 30px 0 #0B3D91;
  transform: scale(1.05);

}

/* tour search section  */

.tourSearch {
  background-image: linear-gradient(#c1440e, black);
  min-height: 50vh;
  clip-path: ellipse(70% 60% at 50% 40%);
  position: relative;
}

.blackTourBG {
  background-image: url('./assets/hdStarBG.jpg');
  background-size:contain;
  object-fit: cover;
}

.tourSearch h3 {
  text-align: center;
  font-family: 'Exo 2', sans-serif;
  font-size: 2.5rem;
  color: whitesmoke;
  text-shadow: 1px 1px black;
}


.searchFlex {
  display: flex;
  flex-direction: column;
}

.searchFlex p {
color: whitesmoke;
font-size: 1.3rem;
text-align: center;
margin-top: 0;
}

form {
  display: flex;
  flex-direction: column;
}

form select {
  width: fit-content;
  margin: 0 auto;
  background-color: #c1440e;
  color: whitesmoke;
  font-family: 'Exo 2', sans-serif;
  font-size: 1.5rem;
  padding: 10px;
  border: dotted 2px white;
}


 .button {
  font-family: 'Exo 2', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  width:fit-content;
  height: 70px;
  border: none;
  margin: 60px auto 20px;
  outline: none;
  color: whitesmoke;
  text-shadow:2px 2px black;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  box-shadow: 0 0 60px 3px #fff,
  0 0 100px 6px rgb(255, 0, 0),
  0 0 140px 9px rgb(255, 0, 0);
}

.button:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.button:hover:before {
  opacity: 1;
}

.button:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(27, 27, 27, 0.767);
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.countP p {
  color: whitesmoke;
  text-align: right;
  font-size: 1.5rem;
  font-family: "biryani";
  margin-top: 100px;
  margin-bottom: 0;
  padding-bottom: 100px;
}

/* stars animation  */

.star {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1)  ;
  animation:  animate 3s linear infinite;
}
.star::before{
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg, #fff, transparent);
}
@keyframes animate {
  0%
  {
      transform: rotate(315deg) translateX(0);
      opacity: 1;
  }
  70%
  {
      opacity: 1;

  }
  100%
  {
      transform: rotate(315deg) translateX(-1500px);
      opacity: 0;

  }
  
}
.star:nth-child(1){
  top: 150px;
  right: 0;
  left:initial;
  animation-delay:0 ;
  animation-duration: 1s;
}

.star:nth-child(2){
  top: 150px;
  right: 80px;
  left:initial;
  animation-delay:0.2s;
  animation-duration: 3s;
}

.star:nth-child(3){
  top: 150px;
  right: 0px;
  left:initial;
  animation-delay:0.4s ;
  animation-duration: 2s;
}

.star:nth-child(4){
  top: 150px;
  right: 180px;
  left:initial;
  animation-delay:0.6s;
  animation-duration: 1.5s;
}

.star:nth-child(5){
  top: 150px;
  right: 400px;
  left:initial;
  animation-delay:0.8s;
  animation-duration: 2.5s;
}

.star:nth-child(6){
  top: 150px;
  right: 600px;
  left:initial;
  animation-delay:1s ;
  animation-duration: 3s;
}
.star:nth-child(7 ){
  top: 300px;
  right: 1400px;
  left:initial;
  animation-delay:1s ;
  animation-duration: 1.75s;
}

.star:nth-child(8){
  top: 150px;
  right: 1300px;
  left:initial;
  animation-delay:1.4s ;
  animation-duration: 3s;
}

.star:nth-child(9){
  top: 150px;
  right: 1100px;
  left:initial;
  animation-delay:0.75s ;
  animation-duration: 2.25s;
}

.star:nth-child(10){
  top: 150px;
  right: 1000px;
  left:initial;
  animation-delay:2.75s ;
  animation-duration: 2.25s;
}

img {
  height: 100%;
  width: 100%;
}

.marsImage {
  position: absolute;
  left: 15%;
  bottom: 15%;
}

/*  Tour Details  */


.tourDetails {
  text-align: center;
  color: white;
  margin-bottom: 25px;
  padding-top: 100px;
  font-family: 'Exo 2', sans-serif;
}

.tourDetails h4 {
  font-size: 3rem;
  background-color: rgba(255, 255, 255, 0.479);
  text-shadow: black 3px 3px;
  width: fit-content;
  margin: 0 auto;
  border-radius: 15%;
  padding: 0 20px;
}

.tourDetails p {
  background: rgba(255, 0, 0, 0.473);
  padding: 20px;
  border-radius: 15%;
  border: white 1px solid;
}
/* Carousel  */
.carouselSize {
  /* width: 70vw; */
  margin: 0 auto;
  color: white;
  font-family: 'Exo 2', sans-serif;
  text-align: center;
}

.carouselSize p {
  font-family: 'Exo 2', sans-serif;
  margin: 100px 0 0 0;
}
.carousel-root {
  margin-top: 30px;
  /* box-shadow: 0 0 60px 3px #0B3D91,
      0 0 20px 6px #0B3D91,
      0 0 20px 6px rgb(255, 0, 0); */
}

.imgContainer {
  width: 800px;
  height: 800px;
  margin: 0 auto;
}

.imgContainer img {
  border-radius: 50%;
}


.carousel.carousel-slider {
  position: relative;
  margin: 0;
  overflow: hidden;
}


a {
  text-decoration: none;
  color: inherit;
}

/* Dates Styling  */
.safeDates {
  text-align: center;
  color: white;
  margin-top: 25px;
  font-family: 'Exo 2', sans-serif;
  /* margin-bottom: 80px; */
}

.safeDates h3 {
  margin: 50px 0 100px 0;
  font-size: 2rem;
  background: rgba(255, 255, 255, 0.582);
  color: black;
  width: fit-content;
  border-radius: 15%;
  padding: 15px;
  text-shadow: white 2px 2px;
  margin: 0 auto;
}

.safeDates p {
  margin: 0;
}

.safeDates a {
  text-decoration: underline;
}

.datesContainer {
  list-style: none;
  padding: 10px;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 80px;
  margin: 100px 0 0 0;
}

.datesListed {
  font-family: 'Exo 2', sans-serif;
  font-size: 1.3rem;
  height: 60px;
  padding: 15px 10px 10px 10px;
  border: none;
  outline: none;
  color: whitesmoke;
  background: rgba(0, 0, 0, 0.699);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  box-shadow: 0 0 30px 3px #fff,
      0 0 10px 6px rgb(255, 0, 0),
      0 0 10px 9px rgb(255, 0, 0);
}

.datesListed:hover, .datesListed:focus, .datesListed:active {
  -webkit-animation-name: pulse-grow-on-hover;
    animation-name: pulse-grow-on-hover;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.datesListed:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.datesListed:hover:before {
  opacity: 1;
}

.datesListed:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 0, 0, 0.671);
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}


@-webkit-keyframes pulse-grow-on-hover {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes pulse-grow-on-hover {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.safeDates p {
  margin: 0 auto;
  padding: 50px;
  background: rgba(255, 255, 255, 0.479);
  padding: 15px;
  color: black;
  width: 50%;
}

footer {
  font-family: 'Exo 2', sans-serif;
  background-color: black;
}

footer p {
  text-align: center;
  color: white;
  margin: 0;
  padding: 20px;
}
/* Loading spinner */

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 50px;
  height: 50px;
  border: 10px solid RGB(255, 255, 255, 0.5);
  border-top: 10px solid whitesmoke;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.starBackground {
  background-image: url('./assets/hdStarBG.jpg');
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  margin: 0;
}


/* MediaQueries */

@media (max-width: 1400px) {
  .marsImage {
    width: 200px;
    height: 200px;
    left: 10%;
  }
}

@media (max-width: 1000px) {
  .marsImage img {
    display: none;
  }

  .countP p{
    text-align: center;
  }

    .imgContainer {
      width: 100%;
      height: 100%;
      margin: 0 auto;
    }
}

@media (max-width: 550px) {
  form select {
    font-size: 1rem;
  }

  .tourSearch h3 {
    font-size: 2rem;
  }
}

@media (max-width: 370px) {
  form select {
    font-size: .8rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  .star {
    animation: none;
  }

  .datesListed {
    animation: none;
  }

  .button {
    animation: none;
  }
}

